$brand-color: rgb(0,0,255);
$dark-brand-color: darken( $brand-color, 10% );
$light-brand-color: lighten( $brand-color, 10% );
$lightgrey: #F0F0F2;
$mediumgrey: rgb(102,102,102);
$darkgrey: #282832;
$canvas: white;
$grey: #858E99;
