input, select{
  padding: 5px;
  font-size: .875em;
  border: 2px solid #333;
  width: 100%;
  margin-bottom: 1em;
}
.form__wrapper{
  padding: 20px;
}
.dropzone{
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#image_quality_warning{
  padding: 10px;
  font-size: .875em;
  top: -1.15em;
  color: #fff;
}

.image__thumb__link{
  display: block;
  margin: 20px 20px 10px;
}

.form__wrapper label{
  color: rgba(0,0,0,.8);
  margin: 0 0 5px;
  display: inline-block;
}
