.hero__header{
  min-height: calc(100vh - 75px);
  background-attachment: fixed;
  background-size: cover;
  font-size: 1.5em;
  h1{
    margin-bottom: 0.3em;
  }
}
.content__container{
  padding: 4%;
}
.introduction{
  padding: 100px 0;
  font-size: 1.2em;
  .intro__inner{
    max-width: 1000px;
    max-width: 70%;
    margin: auto;
  }
  h1{
    font-size: 3em;
    margin-bottom: 0;
    line-height: 1;
  }
}
.introdescription{
  transform: rotate(0.2deg);
}

.big_logo{
  background: url(../images/logo_big.svg);
  width: 100%;
  padding-bottom: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}

.logo_text{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
  opacity: 0;
}

.tagline{
  font-size: 1.625em;
}

.introdescription{
  font-size: 48px;
  line-height: 1.4;
  text-align: left;
}
.svg__header{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  svg{
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .st0{
    fill:#3DE3CF;
  }
  .rocket__line{
    fill:none;
    stroke: rgba(255,255,255,1);
    stroke-width:3;
    stroke-linecap:round;
    stroke-miterlimit:10;
  }
  .rocket__line{
    stroke-width:0;
  }
}

.home__icon{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 50%;
  display: inline-block;
  transition: .2s ease-out;
  max-width: 556px;
  &:hover{
    transform: scale(1.02);
  }
}

.meter__maken{
  background-image: url(../images/maken.svg);
}

.meet__delen{
  background-image: url(../images/delen.svg);
}
.wrapper{
  max-width: 1200px;
  margin: 0 auto;  
}       

.hero-image {
  width:400px;
}     

.hero-stamp-hook {
  display:flex;
  position:relative;
  width:0px;
  height:0px;
  background-color:red;
}                      

.hero-stamp-hook img {
  width:120px;
  transform: rotate(7deg);
  left:150px;
  z-index:1;   
  position:absolute;
  max-width:none;   
}

.decoration{
  width: 257px;
  padding-bottom: 11%;
  max-width: 10% !important;
  background-repeat: no-repeat;
}
.decoration.leftdec{
  background-image: url(../images/home_decoration_1.svg);
  align-self: flex-start;
}


.decoration.rightdec{
  background-image: url(../images/home_decoration_2.svg);

}

