.hero__header{
  min-height: calc(100vh - 75px);
  background-attachment: fixed;
  background-size: cover;
  font-size: 1.5em;
  top: 75px;
  h1{
    margin-bottom: 0.3em;
  }
}
.introduction{
  font-size: 1.2em;
  div{
    max-width: 700px;
  }
  h1{
    font-size: 3em;
    margin-bottom: 0;
    line-height: 1;
  }
}
.tagline{
  font-size: 1.625em;
}
.introdescription{
  font-size: .875em;
}
.svg__header{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  svg{
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .st0{
    fill:#3DE3CF;
  }
  .rocket__line{
    fill:none;
    stroke: rgba(255,255,255,1);
    stroke-width:3;
    stroke-linecap:round;
    stroke-miterlimit:10;
  }
  .rocket__line{
    stroke-width:0;
  }
}
