.info__field{
  max-width: 400px;
  margin: $gutter * 1.5;
  h2{
    font-size: 2.625em;
  }
}

.introduction.default{
  align-items: initial;
}
.introdescription p{
  max-width: none;
  line-height: 1.5em;
  font-size: 1em;
  margin-bottom: 2em;
}

.info__icon{
  margin-bottom: $gutter / 4;
}
.info__header{
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  h2{
    width: auto;
    display: inline-block;
  }
}
.text__block{
  padding: 40px;
}
.category-icon{
  width: 100px;
  height: 100px;
  margin-left: 20px;
  background-repeat: no-repeat;
}
.werkblad-icon{
  width: 160px;
  height: 160px;
  margin-right: 20px;
  background-repeat: no-repeat;
}

.sound { background-image: url(../images/icon_sound.svg); }
.light { background-image: url(../images/icon_light.svg); }
.dust { background-image: url(../images/icon_dust.svg); }
.secchie { background-image: url(../images/icon_secchie.svg); }
.kite { background-image: url(../images/icon_kite.svg);  }
.ph { background-image: url(../images/icon_ph.svg); }
.uv { background-image: url(../images/icon_uv.svg); }
.micros { background-image: url(../images/icon_micros.svg); }
.weerstand { background-image: url(../images/icon_weerstand.svg); }
.microbes { background-image: url(../images/icon_microbes.svg); }
.gas { background-image: url(../images/icon_gas.svg); }
.soil { background-image: url(../images/icon_soil.svg); width:80px; height: 80px; }
.sound_category { background-image: url(../images/icon_sound_category.svg); width:50px; height: 50px; }
.light_category { background-image: url(../images/icon_light_category.svg);  }
.water { background-image: url(../images/icon_water.svg); width:50px; height: 50px; }
.air { background-image: url(../images/icon_air.svg); }
@media (min-width:320px) {
  .info__field{
    max-width: 300px;
    margin: $gutter / 2;
  }
}

@media (min-width:1080px) {
  .info__field{
    max-width: 400px;
    margin: $gutter * 1.5;
  }
}

.download__icon{
  display: inline-block;
  width: 130px;
  padding-bottom: 78px;
  background-repeat: no-repeat;
  background-image: url(../images/download.svg); 
}

.download__btn {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  color: black;
  text-transform: uppercase;
}
.infotje{
  max-width: 700px;
}
