.cc__license{   
	font-size: .75em;
	align-items: center;
	padding-bottom: 50px;
	display:block;
	div{
		display:flex; 
		span{       
			margin: 0 auto;
			max-width:70%;
			a{
				color:black;
			}
			text-align:center;
	   	}
   
	}
}