.main__navigation{
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 40px;
  background: rgba(255,255,255, 0.97);
  z-index: 2;
  height: 75px;
  font-size: 1.25em;
  font-weight: bold;
  &.light{
    position: relative;
    top: 0;
    left: 0;
  }
}
.main__navigation__list{
  justify-content: flex-start;
}
.main__navigation__list__item{
  display: inline;
  margin: 0 ($gutter / 2);
  a{
    color: black;
    position: relative;
    &.active{
      color: blue;
    }
  }
}
